%message {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
}

.thank {
    @extend %message;
    background-color: #bee5c4;
}

.follow {
    @extend %message;
    background-color: #f9ab8e;
}

.spread {
    @extend %message;
    background-color: #ff8080;
}
a {
  margin-left: 10px;
}
